@{
    ViewData["Title"] = "Home";
}

<div class="d-flex">
	<h1 class="d-inline align-self-center ml-auto mr-2">Welkom bij</h1>
	<img class="align-self-center mr-auto" src="/Images/Logo_Long.png" width="300"/>
</div>

<h3>Over ons</h3>
<article class="text-left">
	<p>
		Avilection is een platform waar vliegtuigspotters hun verzameling vliegtuigen kunnen bijhouden. Ze kunnen elk vliegtuig registreren aan de hand van het
		registratienummer van het vliegtuig. Verder kunnen ze dan allerlij informatie toevoegen over waar en wanneer ze het vliegtuig gespot hebben.
		Het is zelfs mogelijk om luchthavens, luchtvaartmaatschappijen en vliegtuigtypes toe te voegen.
		
	</p>
	<p>
		We hebben ook een mobiele applicatie voor android en UWP. Met deze app kan je tijdens het spotten je verzameling aanvullen,
		zo moet je er thuis niet meer aan denken.
		<br/> Plezant hé 😀
	</p>
</article>
