<h1>Details</h1>

<div class="row mt-4">
	<div class="col-lg-6 mb-3">
		<img class="img-fluid" src="/Images/CRUD/IMG_1974.JPG"/>
	</div>
	<div class="col-lg-6 my-auto">
		<div class="row">
			<div class="col-6 font-weight-bold text-center">Registratie</div>
			<div class="col-6 font-weight-bold text-center">Type</div>
		</div>
		<div class="row">
			<div class="col-6 text-center mt-2">OO-SSL</div>
			<div class="col-6 text-center mt-2">Airbus A320-200</div>
		</div>
		<div class="row">
			<div class="col-6 font-weight-bold text-center mt-4">Maatschappij</div>
			<div class="col-6 font-weight-bold text-center mt-4">Special livery</div>
		</div>
		<div class="row">
			<div class="col-6 text-center mt-2">Brussels Airlines</div>
			<div class="col-6 text-center mt-2">Nee</div>
		</div>
		<div class="row">
			<div class="col-6 font-weight-bold text-center mt-4">Eerst gezien</div>
			<div class="col-6 font-weight-bold text-center mt-4">Laatst gezien</div>
		</div>
		<div class="row">
			<div class="col-6 text-center mt-2">8/07/2021</div>
			<div class="col-6 text-center mt-2">8/07/2021</div>
		</div>
		<div class="row">
			<div class="col-12 font-weight-bold text-center bg-yellow mt-4">Luchthavens</div>
		</div>
		<div class="row mb-2">
			<div class="col-12 text-center bg-light-yellow py-1">Brussels Airport</div>
			<div class="col-12 text-center bg-light-yellow py-1">Nice Côte d'Azur</div>
			<div class="col-12 text-center bg-light-yellow py-1">Tokyo Narita Intl. Airport</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public AircraftItem Model { get; set; }
}
