<div class="messageBox-background"></div>
<div class="card text-center messageBox">
	<div class="card-title mt-3">
		<h3>Game over</h3>
	</div>
	<div class="card-body">
		<p>Je hebt helaas verloren. Volgende keer beter. 👍</p>
		<button class="btn">Opnieuw spelen</button>
		<button class="btn">Stoppen</button>
	</div>
</div>

@code {
	[Parameter]
	public Messagebox Model { get; set; }
}
