@{
	ViewData["Title"] = "Culture corner";
}
<div id="app">
	<div class="d-flex">
			<button class="btn btn-circle align-self-center mb-2 mr-4 oi oi-arrow-left"></button>
			<h1 class="d-inline align-self-center mx-auto">Culture corner</h1>
			<button class="btn btn-circle align-self-center mb-2 mr-2 oi oi-arrow-right"></button>
	</div>

	<section v-if="hasError" class="mt-3">
		<p>De data kan helaas niet geladen worden op dit moment. Probeer het later nog eens</p>
	</section>
	<section v-else>
		<div class="d-flex mt-3">
			<img v-bind:src="image" class="mx-auto" style="width: 1000px"/>
		</div>
	</section>
</div>

@section scripts{
	<script src="~/lib/vue/vue.js"></script>
	<script src="~/lib/axios/axios.min.js"></script>

	<script>
		var apiUrl = 'https://api.waifu.im/random/?&gif=false&is_nsfw=false';

		var app = new Vue({
			el: "#app",
            data: {
                hasError: null,
				image: null,
			},
            created: function() {
                var self = this;
                self.fetchImage();
			},
            methods: {
                fetchImage: function() {
                    var self = this;
                    self.hasError = false;

					axios.get(apiUrl)
                        .then(function(response) {
                            self.image = response.data.images[0].url;
						})
                        .catch(error => {
							console.log(error);
                            self.hasError = true;
						})
				}
			},
		})
	</script>
}