@{
	ViewData["Title"] = "Vliegtuigen";
}

<div id="app">
	<div class="d-flex">
			<h1 class="d-inline align-self-center mr-auto">Vliegtuigen</h1>
			<button class="btn btn-circle align-self-center mb-2 mr-2 oi oi-reload" v-on:click="fetchAircrafts"></button>
	</div>

	<section v-if="hasError" class="mt-5">
		<p>De data kan helaas niet geladen worden op dit moment. Probeer het later nog eens</p>
	</section>
	<section v-else>
		<div v-if="isBusy" class="spinner"></div>
		<div v-else class="row">
			<div class="card mt-4 mx-1 mb-2 d-inline-block crud-card" style="width: 24rem" v-for="aircraft in aircrafts">
				<a class="text-dark" v-bind:href="goToDetailPage(aircraft)">
					<div class="card-body pb-2">
						<img class="card-img-top" v-bind:src="hasImage(aircraft)" v-bind:alt="aircraft.registration" style="width: 21rem" />
						<div class="row align-items-center mt-3">
							<div class="col text-center">Registratie</div>
							<div class="col text-center">Type</div>
							<div class="col text-center">Maatschappij</div>
							<div class="w-100"></div>
							<div class="col text-center font-weight-bold pt-2">{{aircraft.registration}}</div>
							<div class="col text-center font-weight-bold pt-2">{{aircraft.aircraftType.type}}</div>
							<div class="col text-center font-weight-bold pt-2">{{aircraft.airline.name}}</div>
						</div>
					</div>
				</a>
				<div>
					<div class="row text-center">
						<div class="col">
							<button class="btn oi oi-trash" v-on:click.prevent="deleteAircraft(aircraft)"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
@section scripts{
	<script src="~/lib/vue/vue.js"></script>
	<script src="~/lib/axios/axios.min.js"></script>

	<script>
		var apiUrl = 'https://localhost:5001/Api/aircrafts';

		var app = new Vue({
			el: "#app",
            data: {
				aircrafts: null,
                isBusy: false,
				hasError: false,
			},
            created: function() {
                var self = this;
				self.fetchAircrafts();
			},
            methods: {
                fetchAircrafts: function() {
                    var self = this;
                    self.isBusy = true;
                    self.hasError = false;

                    axios.get(apiUrl)
                        .then(function(response) {
                            if (response.data.isSucces == true) {
                                self.aircrafts = response.data.data;
                            }
                            else {
                                alert(`${response.data.status}\n${response.data.errorMessage}`);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            self.hasError = true;
                        })
                        .finally(() => self.isBusy = false)
				},

                hasImage: function(currentAircraft) {
                    if (currentAircraft.image == null) {
                        return "/Images/placeholder.png";
                    }
                    else {
                        return currentAircraft.image;
					}
				},

                goToDetailPage: function(currentAircraft) { 
                    return `https://localhost:5004/Aircraft/details/${currentAircraft.id}`;
				},

				deleteAircraft: function(currentAircraft) {
                    var self = this;
                    var url = `${apiUrl}/${currentAircraft.id}`;

                    var confirmed = confirm("Ben je zeker dat je dit vliegtuig wilt verwijderen?");

                    if (confirmed) {
						axios.delete(url)
							.then(function(response) {
								if (response.data.isSucces == true) {
									self.aircrafts.forEach(function(aircraft, i) {
										if (aircraft.id == currentAircraft.id) {
											self.aircrafts.splice(i, 1);
										}
									})
								}
								else {
									alert(`${response.data.status}\n${response.data.errorMessage}`);
								}
							})
							.catch(error => {
								console.log(error);
                                alert("Er is iets misgelopen tijdens het verwijderen van het vliegtuig. Zie de console voor meer info");
							})
					}
				}
			}
		});
	</script>
		
}