<h1>Vliegtuigen</h1>

<div class="row">
	<div class="card mt-4 mx-1 mb-2 d-inline-block crud-card" style="width: 24rem">
		<div class="card-body">
			<img class="card-img-top" src="\Images\placeholder.png" alt="Foto van placeholder" />
			<div class="row align-items-center mt-3">
				<div class="col text-center">Registratie</div>
				<div class="col text-center">Type</div>
				<div class="col text-center">Maatschappij</div>
				<div class="w-100"></div>
				<div class="col text-center font-weight-bold pt-2">OO-ABC</div>
				<div class="col text-center font-weight-bold pt-2">A320</div>
				<div class="col text-center font-weight-bold pt-2">Brussels Airlines</div>
			</div>
		</div>
		<div>
			<div class="row text-center">
				<div class="col">
					<button class="btn oi oi-pencil"></button>
				</div>
				<div class="col">
					<button class="btn oi oi-trash"></button>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/lib/vue/vue.js"></script>
	<script src="~/lib/axios/axios.min.js"></script>
}