@page "/aircraft"
@inject ICRUDService<AircraftListItem, AircraftItem> _AircraftService

<h1>Vliegtuigen</h1>
<div class="row">
	@foreach (var aircraft in aircrafts)
	{
		<ItemList Model="aircraft"></ItemList>
		<ItemList Model="aircraft"></ItemList>
	}
</div>
@code {
	private IEnumerable<AircraftListItem> aircrafts = new List<AircraftListItem>();

	protected override async Task OnInitializedAsync()
	{
		await ShowList();
	}

	public async Task ShowList()
	{
		aircrafts = await _AircraftService.ListAllAsync();
	}
}
