@page "/aircraft"
@inject ICRUDService<AircraftListItem, AircraftItem> _AircraftService

<h1>Vliegtuigen</h1>
<div class="row">
	@foreach (var aircraft in aircrafts)
	{
		<ListItem Model="aircraft"
			OnDeleteClicked="DeleteAsync">
	</ListItem>
	}
</div>

@code {
	private IEnumerable<AircraftListItem> aircrafts = new List<AircraftListItem>();

	protected override async Task OnInitializedAsync()
	{
		await ShowList();
	}

	public async Task ShowList()
	{
		aircrafts = await _AircraftService.ListAllAsync();
	}

	public async Task DeleteAsync(object item)
	{
		AircraftListItem aircraft = item as AircraftListItem;
		await _AircraftService.DeleteAsync(aircraft.Id);
		await ShowList();
	}
}
