@page "/"

<h1 class="text-center">Welcome to Avilection</h1>

<article class="text-center">
	<p>
		Avilection is an aircraft collection platform for plane spotters. It allows you to store your full collection of aircrafts that you have spotted up
		until this point. You can even add the airports, airlines and aircraft types that you have collected. Furthermore, you can add all kinds of details
		about the aircraft, airports etc. you have seen.
	</p>
	<p>
		We also haven a mobile app for Android and UWP. Using that you can add your aircraft immediatly after spotting them,
		so you don't have to do it when you get home.
		<br/> Pretty nice eh. 😀
	</p>
</article>