@page "/memory"

<h1>Memory</h1>
<div class="row align-self-center mt-4 mx-auto" style="width: 80rem">
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
	<MemoryCard></MemoryCard>
</div>

@code {

}
