@page "/memory"
@inject IMemoryService _memoryService

@if (!HasStarted)
{
	<MemoryWelcomeCard OnPlayButtonClick="GameInit"></MemoryWelcomeCard>
}
else
{
	<div>
		<h1>Memory</h1>
		<span>Aantal levens: <b>@stats.Lives</b></span>
	</div>
	<div class="row align-self-center mt-4 mx-auto" style="width: 80rem">
		@foreach (var card in MemoryCards)
		{
			<MemoryCard Model="card"
				OnCardClick="HandleSelection">
			</MemoryCard>
		}
	</div>
}

@code {
	private bool HasStarted = false;
	private IEnumerable<MemoryCardModel> MemoryCards;
	private StatsModel stats;

	private void GameInit()
	{
		MemoryCards = _memoryService.GetMemoryCards();
		stats = _memoryService.GetStats();
		HasStarted = true;
	}

	public void HandleSelection(object item)
	{
		MemoryCardModel card = item as MemoryCardModel;
		_memoryService.HandleSelection(card);
		stats = _memoryService.GetStats();

		if (stats.Lives == 0)
		{
			_memoryService.EndGame(false);
		}

		if (stats.RemainingPairs == 0)
		{
			_memoryService.EndGame(true);
		}
	}
}

