@page "/memory"
@inject IMemoryService _memoryService

@if (!HasStarted)
{
	<MemoryWelcomeCard OnPlayButtonClick="GameInit"></MemoryWelcomeCard>
}
else
{
	<div>
		<h1>Memory</h1>
		<span>Aantal levens: <b>@stats.Lives</b></span>
	</div>
	<div class="row align-self-center mt-4 mx-auto" style="width: 80rem">
		@foreach (var card in MemoryCards)
		{
			<MemoryCard Model="card"
				OnCardClick="HandleSelection">
			</MemoryCard>
		}
		@if (IsBusy)
	    {
			<div class="overlay"></div>
	    }
	</div>
}

@code {
	private bool HasStarted = false;
	private IEnumerable<MemoryCardModel> MemoryCards;
	private StatsModel stats;
	private bool IsBusy = false;

	private void GameInit()
	{
		MemoryCards = _memoryService.GetMemoryCards();
		stats = _memoryService.GetStats();
		HasStarted = true;
	}

	public async Task HandleSelection(object item)
	{
		MemoryCardModel card = item as MemoryCardModel;
		if (!card.MatchFound)
		{
			IsBusy = true;
			await _memoryService.HandleSelection(card);

			CheckGameStatus();
			IsBusy = false;
		}
	}

	private void CheckGameStatus()
	{
		stats = _memoryService.GetStats();

		if (stats.Lives == 0)
		{
			_memoryService.EndGame(false);
		}

		if (stats.RemainingPairs == 0)
		{
			_memoryService.EndGame(true);
		}
	}
}

