@page "/memory"
@inject IMemoryService _memoryService


@if (!HasStarted)
{
	<div class="card text-center justify-content-center mx-auto w-25">
		<div class="card-title">
			<h3 class="mt-3">Memory</h3>
		</div>
		<div class="card-body">
			<p>
				Op deze pagina kan je memory spelen met foto's van vliegtuigen. <br/> Klik op spelen om het spel te starten. <br/> Veel plezier 😀
			</p>
			<button class="btn" @onclick="GameInit">Spelen</button>
		</div>
	</div>
}
else
{
	<h1>Memory</h1>

	<div class="row align-self-center mt-4 mx-auto" style="width: 80rem">
		@foreach (var card in MemoryCards)
		{
			<MemoryCard Model="card"
						OnCardClick="TurnCard">
			</MemoryCard>
	   }
	</div>
}

@code {
	public bool HasStarted { get; set; } = false;

	public IEnumerable<MemoryCardModel> MemoryCards { get; set; }

	private void GameInit()
	{
		MemoryCards = _memoryService.GetMemoryCards();
		HasStarted = true;
	}

	public void TurnCard(object item)
	{
		MemoryCardModel card = item as MemoryCardModel;

		card.CurrentImage = card.ActualImage;
	}
}
